<!DOCTYPE html>
<html lang="en">
<head>
 

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>TastyShare </title>

<!-- Bootstrap -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">


</head>
<body>
{% include "includes/user_navbar.html" %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
        <div>
<form method="post" action="{{ url_for('add_recipe') }}" enctype="multipart/form-data">
  
  <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp; Input Details of the Recipe </h4>
         
        </div>
        <div class="modal-body">
               <div class="form-group">
                  <label for="usr">Title</label>
                   <div class="input-group">
				   <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				   <input type="text" class="form-control" id="usr" name="title" placeholder="Enter a Title" required />
               </div>
			   </div>
			   
			   <div class="form-group">
                  <label for="pwd" >Ingredients</label>
                  <div class="input-group">
				   <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				   <input type="text" class="form-control" id="pwd" name="ingredients" placeholder="Enter all Necessery Ingredients" required />
               </div>
			   </div>
			 
			   <div class="form-group">
                  <label for="pwd" >Steps for Making</label>
                  <div class="input-group">
				   <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				   <input type="text" class="form-control"   name="steps" placeholder="Enter Steps" required />
               </div>
			   </div>

         <div class="form-group">
  <label for="category">Category</label>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-list"></span>
    </span>
    <select class="form-control" id="category" name="category" required>
      <option aria-placeholder="SELECT ONE OPTION"></option>
      <option value="Non-Vegeterian">Non-Vegeterian</option>
      <option value="Vegeterian">Vegeterian</option>
      <option value="Desserts">Desserts</option>
      <option value="Snacks">Snacks</option>
      <option value="Drinks">Drinks</option>
    </select>
  </div>
</div>

			 
			 <div class="form-group">
                  <label for="pwd" >User ID</label>
                  <div class="input-group">
				   <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				   <input type="text" class="form-control" id="Address" name="user_id" value="{{ session.user_id }}" readonly/>
               </div>
			   </div>

         <div class="form-group">
                  <label for="pwd" >Recipe Image</label>
                  <div class="input-group">
				   <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
             <input type="file" class="form-control" id="picture" name="recipe_image" accept="image/*" required>
               </div>
        
        <div><small class="text-muted">Upload a Photo of This Dish.</small></div>
			   
			   <div class="modal-footer">
          <div class="row"> 
              <div class="col-md-12 "> 
					<button type="submit" id="btn" name="btn" class="btn btn-danger">Save</button>
					 <button type="reset" class="btn btn-primary" value="Reset">Reset</button>
<a
            type="button"
            onclick="window.history.back()"
           class="btn btn-info btn-sm btn-action"
            >⬅️ Go Back</a
          >
		  		
		     </div>
		  
         </div>
      
              </div>
   
</form>
</div>
      </div>
    </div>
    <hr>
  </div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12">


    </div>
    
  </div>
</div>
<hr>

<hr>
<div class="container well">
  <div class="row">
<div class="col-xs-6 col-sm-6 col-lg-4 col-md-4"> <span class="text-right">
      </span>
  <h3>About Us</h3>
  <hr>
  <p></p>
</div>
<div class="col-xs-6 col-sm-6 col-lg-4 col-md-4 hidden-sm hidden-xs"> <span class="text-right"> </span>
  <h3>Latest News</h3>
  <hr>
  <div class="media-object-default">
  <div class="media">
  <div class="media-body">
        <h4 class="media-heading"></h4>
 </div>
      <div class="media-right"> <a href="#"> </a></div>
</div>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading"></h4></div>
  <div class="media-right"> <a href="#"></a></div>
</div>
</div>
</div>
<div class="col-xs-6 col-sm-6 col-lg-4 col-md-4"> <span class="text-right"> </span>
  <h3>Contact Us</h3>
  <hr>

    

      
</div>
  </div>
</div>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>TastyShare.</p>
      </div>
    </div>
  </div>
</footer>
<script src="{{ url_for('static', filename='assets/js/jquery-1.11.3.min.js') }}"></script> 
 
<script src="{{ url_for('static', filename='assets/js/bootstrap.js') }}"></script>
<script>setTimeout(function() {
    const flashes = document.querySelectorAll('.alert');
    flashes.forEach(flash => {
      flash.style.transition = "opacity 1s ease";
      flash.style.opacity = 0;
      setTimeout(() => flash.remove(), 1000); // remove from DOM after fade
    });
  }, 2000);
</script>
</body>
</html>